body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}
header {
    background-color: grey;
    color: white;
    padding: 10px 0;
    text-align: center;
}
main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}
h1, h2 {
    color: #031403;
}
section {
    margin-bottom: 15px;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
    position: relative;
    width: 100%;
    bottom: 0;
}
ul {
    list-style-type: lower-roman;
    margin-left: 20px;
}
a {
    color: #eaf0ea;
}